.Container {
  padding: 40px;
}
.Container_Inner {
  max-width: 800px;
  display: flex;
  margin: 0 auto;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .Container {
    padding: 40px 28px;
  }
  .Container_Inner {
    display: block;
  }
}
.Articles {
  flex: 1;
  margin: 0 40px 0 0;
}
.Articles_Heading {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 42px;
  padding: 0 0 16px 0;
  line-height: 1.4;
  border-bottom: 1px solid #e5e5e5;
}
@media (max-width: 768px) {
  .Articles {
    margin: 0;
  }
}
